@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Questrial", sans-serif;
  background-color: #fffef2;
}

a {
  text-decoration: none;
  color: #222;
}
